[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
vprof = "*"
black = "*"
pywin32-ctypes = "*"
pyinstaller = "*"
pylint = "*"
pefile = "*"
rope = "*"
python-coveralls = "*"
coverage = "==5.0a4"

[packages]
mss = "*"
pillow = "*"
pyocr = "*"
pyperclip = "*"
black = "*"
python-levenshtein = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
