[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
mss = "*"
pyperclip = "*"
Pillow = "*"
tesserocr = {platform_system = "!= 'Windows'",version = "*"}

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
vprof = "*"
pywin32-ctypes = {platform_system = "== 'Windows'",version = "*"}
PyInstaller = "*"
pylint = "*"
pefile = "*"
rope = "*"
python-coveralls = "*"
coverage = "==5.0a4"
black = "*"
bumpversion = "*"
twine = "*"
tesserocr = {platform_system = "== 'Windows'",version = "*"}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
