[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
mss = "*"
pyperclip = "*"
python-Levenshtein = "*"
Pillow = "*"
tesserocr = {version="*", platform_system="!= 'Windows'"}

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
vprof = "*"
pywin32-ctypes = {version="*", platform_system="== 'Windows'"}
PyInstaller = "*"
pylint = "*"
pefile = "*"
rope = "*"
python-coveralls = "*"
coverage = "==5.0a4"
black = "*"
bumpversion = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
