[tool.poetry]
name = "normcap"
version = "0.3.7"
description = "OCR-powered screen-capture tool to capture information instead of images."
keywords = ["screenshot", "ocr", "capture", "clipboard"]
license = "GPLv3"
authors = ["dynobo <dynobo@mailbox.org>"]
readme = "README.md"
repository = "https://github.com/dynobo/normcap"
classifiers = [
  "Development Status :: 4 - Beta",
  "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.7",
  "Topic :: Utilities",
  "Topic :: Multimedia :: Graphics :: Capture :: Screen Capture",
  "Intended Audience :: End Users/Desktop",
  "Operating System :: Microsoft :: Windows",
  "Operating System :: POSIX :: Linux",
  "Operating System :: MacOS",
]

[tool.poetry.scripts]
normcap = "normcap.app:main"

[tool.poetry.dependencies]
python = ">=3.9,<3.11"
PySide6-Essentials = "^6.3.1"
jeepney = ">=0.8"
pytesseract = ">=0.3.9"
packaging = ">=21.3"

[tool.poetry.dev-dependencies]
black = ">=22.3.0"
isort = ">=5.10.1"
mypy = ">=0.961"
pre-commit = ">=2.19"
pydocstyle = ">=6.1.1"
pylint = ">=2.14.1"
pytest = ">=7.1.2"
pytest-cov = ">=3.0.0"
pytest-qt = ">=4.1.0"
pylint-pytest = "^1.1.2"
pytest-xvfb = "^2.0.0"
toml = ">=0.10.2"
mdformat-gfm = ">=0.3.5"
coveralls = ">=3.3.1"
coverage = { extras = ["toml"], version = "^6.4.2" }
tbump = ">=6.9.0"
Levenshtein = ">=0.18.1"
rope = ">=1.1.1"
types-toml = ">=0.10.7"
types-requests = ">=2.27.30"
types-Pillow = ">=9.0.19"
pydeps = ">=1.10.18"
bandit = ">=1.7.4"
briefcase = "^0.3.8"
safety = ">=1.10.3"
radon = { version = ">=5.1.0", optional = true }
viztracer = { version = ">=0.15.3", optional = true }
vulture = { version = "^2.4", optional = true }
Nuitka = "^0.9.6"

[tool.poetry.extras]
analysis = ["radon", "vistracer", "vulture"]

[tool.black]
line-length = 88
include = '''
(
    ^/src/tests/.*py
  | ^/src/normcap/.*py
)
'''
exclude = '''
(
    __pycache__
)
'''

[tool.isort]
profile = "black"
multi_line_output = 3
src_paths = ["src/normcap", "src/tests"]

[tool.mypy]
files = ["src/normcap/**/*.py", "src/tests/**/*.py"]
follow_imports = "skip"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "normcap.window_base_ui"
follow_imports = "skip"
ignore_errors = true

[tool.pylint.master]
extension-pkg-allow-list = ["PySide6", "pytesseract"]
load-plugins = ["pylint_pytest"]
jobs = 3

[tool.pylint.'MESSAGES CONTROL']
load-plugins = "pylint.extensions.mccabe"
ignore = "window_base_ui.py"
disable = [
  "duplicate-code",
  "fixme",
  "invalid-name",
  "missing-module-docstring",
  "too-few-public-methods",
  "too-many-arguments",
  "too-many-instance-attributes",
  "wrong-import-position",
  "missing-function-docstring",
]

[tool.pydocstyle]
convention = "google"
add-ignore = "D107,D104,D103,D100,D105"

[tool.pytest.ini_options]
testpaths = ["src/tests"]
qt_api = "pyside6"
xvfb_width = 1920
xvfb_height = 1080

[tool.coverage.run]
source = ["normcap"]

[build-system]
requires = ["poetry-core>=1.0.0", "briefcase"]
build-backend = "poetry.core.masonry.api"

[tool.briefcase]
project_name = "NormCap"
bundle = "eu.dynobo"
version = "0.3.7"
url = "https://github.com/dynobo/normcap"
license = "GPLv3"
author = 'dynobo'
author_email = "dynobo@mailbox.org"

[tool.briefcase.app.normcap]
formal_name = "NormCap"
description = "OCR-powered screen-capture tool to capture information instead of images"
sources = ["src/normcap"]
icon = "package/imgs/normcap"
installer_icon = "package/imgs/normcap_install"
installer_background = "package/imgs/normcap_install_bg"
requires = ["pyside6", "jeepney", "pytesseract", "packaging"]

[tool.briefcase.app.normcap.macOS]
requires = ["std-nslog==1.0.0"]

[tool.briefcase.app.normcap.linux]
requires = ["Pillow==9.2.0"]
system_requires = ["tesseract-ocr", "pkg-config", "libtiff-dev", "libfuse2"]

[tool.briefcase.app.normcap.windows]

[tool.tbump]

[tool.tbump.version]
current = "0.3.7"
regex = '''
  (?P<major>\d+)
  \.
  (?P<minor>\d+)
  \.
  (?P<patch>\d+)
  ((?P<extra>.+))?
  '''

[tool.tbump.git]
message_template = "Bump to {new_version}"
tag_template = "v{new_version}"

[[tool.tbump.file]]
# Poetry version and Briefcase version
src = "pyproject.toml"
search = 'version = "{current_version}"'

[[tool.tbump.file]]
src = "src/normcap/__init__.py"
search = '__version__ = "{current_version}"'

[[tool.tbump.file]]
src = "docs/index.html"

[[tool.tbump.file]]
src = "README.md"
search = 'NormCap-{current_version}-'

[[tool.tbump.file]]
src = "README.md"
search = 'download/v{current_version}/'

[[tool.tbump.file]]
src = "package/normcap.wxs"
search = 'ProductVersion = "{current_version}"'

[[tool.tbump.before_commit]]
name = "check changelog"
cmd = "grep -q {new_version} CHANGELOG.md"
