/* GLOBAL */
/**********/
small {
  font-size: smaller;
}

.primary {
  color: var(--primary);
}

.align-right {
  text-align: right;
}

[data-tooltip]::before {
  white-space: pre;
}

.wide-tooltip[data-tooltip]::before {
  white-space: pre-wrap;
  width: 420px;
}

.hgroup {
  margin-bottom: var(--typography-spacing-vertical);
}
.hgroup > * {
  margin-bottom: 0;
}
.hgroup > :last-child {
  --color: var(--muted-color);
  --font-weight: unset;
  font-family: unset;
  font-size: 1rem;
}

/* NAV BAR */
/***********/
#logo > img {
  height: 2rem;
  width: 2rem;
  margin-right: 5px;
}

#logo > strong {
  color: var(--contrast);
}

:root:not([data-theme="light"]) .switch-light,
[data-theme="dark"] .switch-light {
  display: block;
}

[data-theme="light"] .switch-light {
  display: none;
}

:root:not([data-theme="light"]) .switch-dark,
[data-theme="dark"] .switch-dark {
  display: none;
}

[data-theme="light"] .switch-dark {
  display: block;
}

@media (max-width: 630px) {
  nav li {
    padding: var(--spacing) calc(var(--spacing) / 4);
    font-size: 70%;
  }
}

@media (max-width: 400px) {
  #logo strong {
    display: none;
  }
}

/* DOWNLOAD */
/************/
#download.grid {
  grid-column-gap: calc(var(--grid-spacing-horizontal) * 3);
  position: relative;
}

#download div:nth-of-type(2) {
  display: block;
  background-image: url("img/normcap.gif");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: calc(100vw * 0.6);
}

#download .gif-link {
  display: block;
  height: 67%;
  margin-top: 13%;
}

@media (min-width: 992px) {
  #download > div:nth-of-type(2) {
    display: block;
    height: auto;
  }
}

#download ul small {
  opacity: 0.4;
}

#link-to-source {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100px;
  height: 100px;
  text-align: right;
  color: #fff;
  background-image: url("img/github.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  opacity: 0.2;
  transition: opacity 0.3s ease-out !important;
}

#link-to-source:hover {
  opacity: 0.85;
  transition: opacity 0.3s ease-out !important;
}

#link-to-source:focus {
  background-color: transparent;
}

/* FEATURES */
/************/
#features {
  padding-bottom: 0;
}

.feature {
  width: calc(100% - var(--spacing));
  padding-top: calc(56.25% - var(--spacing));
  transform: scale(1.001);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 1.125px 8px 0px,
    rgba(0, 0, 0, 0.12) 0px 1.125px 16px 0px,
    rgba(0, 0, 0, 0.035) 0px 0px 0px 1.0625px;
  margin-top: calc(var(--spacing) * 0.5);
  margin-bottom: calc(var(--spacing) * 1.5);
  color: #e1e6ea;
}

.feature > strong {
  display: block;
  background-color: rgba(39, 43, 44, 0.65);
  text-align: center;
  padding: calc(var(--spacing) * 0.5) 0;
}
.feature.feature-1 {
  background-image: url("img/opensource.png");
}
.feature.feature-2 {
  background-image: url("img/multimonitor.png");
}
.feature.feature-3 {
  background-image: url("img/crossplatform.png");
}
.feature.feature-4 {
  background-image: url("img/languages.png");
}
.feature.feature-5 {
  background-image: url("img/transforms.png");
}
.feature.feature-6 {
  background-image: url("img/offline.png");
}

/* ACCORDEONS */
/**************/
details[open] > summary {
  margin-bottom: calc(var(--spacing) * 1.6);
  text-decoration: underline;
}

details summary:focus,
details[open] > summary:focus,
details[open] > summary:not(:focus) {
  color: var(--color);
}

/* PYTHON PACKAGES */
/*******************/
.comparison > div > p {
  margin-bottom: calc(var(--typography-spacing-vertical) * 0.15);
}

/* FOOTER */
/**********/
footer {
  text-align: center;
  padding-top: 0px !important;
}

/* THEMES */
/**********/
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #d81b60;
  --primary-hover: #c2185b;
  --primary-focus: rgba(216, 27, 96, 0.125);
  --background-color: #f5f5f5;
  --card-background-color: #fff;
  --secondary: var(--primary);
  --secondary-hover: var(--primary-hover);
  --secondary-focus: var(--primary-focus);
  --accordion-open-summary-color: var(--primary);
  --accordion-active-summary-color: var(--primary);
  --table-border-color: var(--card-background-color);
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #d81b60;
    --primary-hover: #c2185b;
    --primary-focus: rgba(216, 27, 96, 0.125);
    --primary-inverse: #fff;
    --border-color: rgba(177, 188, 195, 0.2);
    --secondary: var(--primary);
    --secondary-hover: var(--primary-hover);
    --secondary-focus: var(--primary-focus);
    --muted-color: #80888d;
    --background-color: #272b2c;
    --card-background-color: #2c3031;
    --code-background-color: #212425;
    --form-element-background-color: var(--card-background-color);
    --card-border-color: var(--background-color);
    --card-sectionning-background-color: #2e3233;
    --table-border-color: var(--card-background-color);
    --accordion-border-color: var(--border-color);
    --accordion-open-summary-color: var(--primary);
    --accordion-active-summary-color: var(--primary);
  }
  :root:not([data-theme="light"]) #link-to-source {
    background-image: url("img/github-dark.png");
  }
}

[data-theme="dark"] {
  --primary: #d81b60;
  --primary-hover: #c2185b;
  --primary-focus: rgba(216, 27, 96, 0.125);
  --primary-inverse: #fff;
  --secondary: var(--primary);
  --secondary-hover: var(--primary-hover);
  --secondary-focus: var(--primary-focus);
  --muted-color: #80888d;
  --background-color: #272b2c;
  --card-background-color: #2c3031;
  --code-background-color: #212425;
  --form-element-background-color: var(--card-background-color);
  --card-border-color: var(--background-color);
  --card-sectionning-background-color: #2e3233;
  --accordion-open-summary-color: var(--primary);
  --accordion-active-summary-color: var(--primary);
}

[data-theme="dark"] #link-to-source {
  background-image: url("img/github-dark.png");
}
