name: Python application

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master    
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: '3.7'
        architecture: 'x64' 
    - name: Install system dependencies
      run: sudo apt-get install python3-tk tk tk-dev tcl
      #    ^^^ not sure, which pkgs are necessary...
    - name: Testing tkinter import
      run: |
        printf 'import tkinter\ntkinter._test()\n' > test.py
        python test.py